In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("addresses-notebook.csv")

In [3]:
df.describe()

,name,address,icon,userComment,tag1,tag2,tag3,tag4,tag5,tag6,tag7
count,812,812,810,91,812,805,618,269,76,21,5
unique,809,807,25,72,55,59,51,31,19,7,3
top,Guimi House,"Avenida 6 de Diciembre, N25-23, 170524 Quito, ...",restaurant,Japonais,ðŸ’¸ðŸ’¸,Ã€ faire,Ã€ faire,Ã€ faire,Ã€ faire,Ã€ faire,Ã€ faire
freq,2,2,520,8,208,104,227,81,20,12,3

In [ ]:
df['']